.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-links{
  display:flex;
  justify-content: space-between;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-card {
  width: 250px;
  margin: 0 10px 32px;
  cursor: pointer;
}

.items-list-wrapper {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-list-image {
  width: 100%;
  border: 1px solid lightgray;
}
.item-card img {
  max-width: 360px;
  max-height: 360px;
}
.item-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
